* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(200, 200, 224);
}

header {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(184, 18, 206);
}

header h1 {
    /* position:relative; */
    left: 1rem;
    color:rgb(60, 57, 211);
}

header nav {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-end;
    /* right: 0;
    bottom: 0; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

header nav ul {
    list-style-type: none;
    margin-left: 10rem;
}

header nav ul li {
    display: inline-flex;
}

main {
    /* position:relative; */
    /* top: 7.5rem; */
}


#About-Me {
    display: inline-flex;
    flex-direction: row;
    background-color: rgb(13, 12, 83);
    color:rgb(200, 200, 224);
    height: 10rem;
}

#About-Me section h2 {
    display: flex;
    justify-content: center;
}


#About-Me section p {
    margin-left: 15rem;
    margin-right: 1rem;
    color:rgb(200, 200, 224);
} 
/* .row #intro p {
    display: inline-flex;
    margin-left: 70rem;
} */

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position:relative;   
}

.row

div {
    box-sizing: border-box;
    margin: 3%;
    color:rgb(13, 12, 83);
    font-size: 1.5rem;
    list-style: none;
    
}

div ul li {
    list-style-type: none;

}

.column {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: crimson;
    width: 100%;
    height: 5rem;
    position: fixed;
    bottom:0;
}

footer  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
/* 
@media screen and (max-width: 980px) {
    .ident {
        width: 50%
    }
    header {
        background: rgb(32, 178, 204);
    }
    
}

@media screen and (max-width: 780px) {
    .ident {
        width: 100%
    }
    header {
        background: rgb(255, 246, 125);
    }
    
} */