* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* background-image: url(/assets/images/gotime.jpg); */
    background-position: center;
    /* display:flex; */
}

header {
    display: flex;
    flex: 0 4 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    font-size: 4em;
}

header a {
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
    /* color: white; */
}

nav {
    padding: 20px 20px 20px 20px;
}

.abtPic {
    border-radius: 12em;
    position: relative;
    left: 15em;
    
}

#description {
    /* color: rgb(255, 0, 234); */
}

h2 {
    /* color:aqua; */
}



#work, a{ 
    /* color:blanchedalmond; */
    
}

.card {
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 2px solid black;
    margin: 10px 10px;
}

.card2 {
    display: flex;
    flex-direction: column;
    grid-column: 2 0 auto;
    border: 2px solid black;
    margin: 10px 10px;
}
.grid p {
    align-content: center;
}
#card1 img {
    /* max-width: 30vw; */
    height: auto;
}
#card2 img {
    /* max-width: 30vw; */
    height: auto;
}
#card3 img {
    /* max-width: 20vw; */
    height: auto;
}
#card4 img {
    /* max-width: 30vw; */
    height: auto;
}
#card5 img {
    /* max-width: 30vw; */
    height: auto;
}


.left {
    display: flex;
    justify-content: flex-start;
}

.right {
    /* width: 70vw; */
    justify-content: flex-end;
    
}

.card {
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
}

footer a {
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
    /* color: white; */
}