* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* background-image: url(/assets/images/gotime.jpg); */
    background-position: center;
    /* display:flex; */
}

header {
    display: flex;
    /* flex: 0 4 auto; */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* height: 20vh; */
    font-size: 4em;
}

h1 {
    font-size: smaller;
}

header a {
    font-size: large;
    font-weight: bolder;
    cursor: pointer;
    /* color: white; */
}

nav {
    padding: 20px 20px 20px 20px;
}

.abtPic {
    border-radius: 12em;
    position: relative;
    left: 2.5em;
    
}

#description {
    /* color: rgb(255, 0, 234); */
}

h2 {
    /* color:aqua; */
}



#work, a{ 
    /* color:blanchedalmond; */
    
}

.card {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 2px solid black;
    margin: 10px 10px;
}

.card2 {
    display: flex;
    flex-direction: column;
    grid-column: 2 0 auto;
    border: 2px solid black;
    margin: 10px 10px;
}
.grid p {
    align-content: center;
}
#card1 img {
    /* max-width: 30vw; */
    width: auto;
}
#card2 img {
    /* max-width: 30vw; */
    width: auto;
}
#card3 img {
    /* max-width: 20vw; */
    width: auto;
}
#card4 img {
    /* max-width: 30vw; */
    width: auto;
}
#card5 img {
    /* max-width: 30vw; */
    width: auto;
}


.left {
    display: flex;
    justify-content: flex-start;
}

.right {
    /* width: 70vw; */
    justify-content: flex-end;
    
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
}

footer a {
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
    /* color: white; */
}

@media screen and (max-width: 360px)   {
    
    header {
        font-size: 1.5em;
    }

    nav {
        font-size: .6em;
    }
    img {
        position: relative;
        right: 
    }
}